<nav class="nav">
  <ul id="navigation" class="clearfix">
    <li style="float: left">
      <a class="active" href="index.html">Home</a></li>
    <li class="menu-item last"><a target="_blank" href="contacts.html">Contacts</a></li>
    <li class="menu-item"><a target="_blank" href="publishing.html">Future Fiction</a>
      <ul>
        <li><a href="publishing.html">Publishing</a></li>
        <li><a href="workshop.html">Workshop</a></li>
      </ul>
    </li>
    <!--<li class="menu-item"><a target="_blank" href="#">Media</a>
      <ul>
        <li><a target="_blank" href="media/press.html">Press</a></li>
        <li><a target="_blank" href="media/photos.html">Photos</a></li>
        <li><a target="_blank" href="media/videos.html">Videos</a></li>
      </ul>
    </li>-->
    <li class="menu-item"><a href="awards.html">Awards</a>
      <!--<ul>
          <li><a target="_blank" href="awards-index.html">Timeline</a></li>
          <li><a target="_blank" href="awards/awards-index.html">Urania Award</a></li>
          <li><a target="_blank" href="awards/awards-index.html">Italy Prize</a></li>
          <li><a target="_blank" href="awards/awards-index.html">EU SciFi Prize</a></li>
        </ul>-->
    </li>
    <li class="menu-item"><a href="works.html">Works</a>
      <ul>
        <li><a href="work3.html">Antidoti Umani</a></li>
        <li><a href="work2.html">E-Doll</a></li>
        <li><a href="work4.html">Livido</a></li>
        <!--<li><a target="_blank" href="_blank">Bloodbusters</a></li>-->
        <li><a href="work1.html">I Camminatori I</a></li>
        <li><a href="work5.html">I Camminatori II</a></li>
      </ul>
    </li>
  </ul>
</nav>
