.awards-background{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url(img/nudejoin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -30;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

.awards-background .heading {
  display: flex;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 4.5px white;
  font-size: 5rem;
  margin: 15% 0 15% 0;
}

.awards-background .timeline {
  background-color: rgba(51,51,51,0.7);
  padding: 0 5% 5% 5%;
  flex: 0 1 80%;
}

.timeline p {
  font-size: 1em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  position: relative;
  color: whitesmoke;
  text-align: justify;
  counter-reset: section;
}

.timeline p a{
  color: white;
}

.timeline p:before {
  content: counter(section);
  position: absolute;
  border-radius: 5%;
  padding: 10px;
  padding-right: 16px;
  width: 32px;
  height: 20px;
  background-color: rgba(5, 5, 5, 0.9);
  text-align: center;
  color: white;
  font-size: 1em;
}

.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline p:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 10px;
}

.timeline p:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

.timeline p:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


@media screen and (max-width: 650px) {
  .awards-background .en-font{
    font-size: 4.5rem;
  }

  .awards-background .zh-font,
  .awards-background .it-font, {
    font-size: 3.8rem;
    -webkit-text-stroke: 4px white;
  }
}

@media screen and (max-width: 300px) {
  .timeline p:nth-child(odd):before {
    left: 60%;
  }
  .timeline p:nth-child(even):before {
    right: 60%;
  }
}
