.left-col-credits{
  width: 45%;
  height: 100vh;
  float: left;
  background-color: rgb(9, 189, 135);
}

.right-col-credits{
  width: 55%;
  float: right;
  height: 100vh;
  background-color: white;
}

.left-col-credits div{
  margin-top: 100px;
  margin-right: 1%;
}

.right-col-credits div{
  margin-top: 110px;
  margin-left: 1%;
}

.credits-left{
  text-align: end;
  font-style: italic;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}

.credits-right{
  font-style: italic;
  font-weight: 100 !important;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}

.credits-icon {
  width: 1%;
  font: normal normal normal 20px/1 FontAwesome !important;
  text-align: center;
  text-decoration: none;
  margin-left: 1%;
  position: relative;
 top: -5px;
}
