.ff-background {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  background-image: url(svg/city2.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -30;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.ff-timeline {
  flex: 3;
  background-color: rgba(51,51,51,0.7);
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;

}


.ff-description {
  margin-top: 40%;
  padding: 50px;
  text-align: justify;
}
.ff-description h4 {
  text-align: start;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-text-stroke: 1.5px white;
}

.ff-description p {
  text-align: justify;
  color: white;
}

.toTheWebsite {
  position: relative;
  right: 20px;
}

.toTheWebsite h3 {
  position: relative;
  width:100%;
  text-align: end;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 800;
}

.ff:after{
  content:"";
  background: url(img/alien.png) no-repeat;
  position: absolute;
  background-size: 25px;
  transform: rotate(10deg);
  padding: 20px;
  right: -40px;
  top: 10px;
}

.ff:hover:after{
  transform: rotate(25deg) scale(1.2);
}


.icon {
  z-index: 90;
  transform: rotate(0);
  width: 3.5%;
  height: 1auto;
  transition: transform .4s;
}

.rotate {
  -webkit-transform: rotate(40deg);
  -webkit-transition: -webkit-transform 1s;
}

.icon:hover {
  transform: scale(1.5, 1.5);
}
