.index-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left center;
  align-items: center;
  text-align: left;
  background-image: url(img/nebula.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: scroll;
}

.index-headings {
  position: relative;
  top:-5%;
  left: 10%;
  width: 100%;
}

.by-line {
  width: fit-content;
  margin-bottom: 0%;
  margin-left: 1%;
  color: #137e5a;
  font-size: 1.5rem;
  font-weight: 1000;
  white-space: nowrap;
  z-index: 50;
}

.index-background h3 span{
  display: inline;
}

#index-heading1 {
  margin-left: 1%;
  -webkit-text-stroke: 3px white;
  color: white;
  text-shadow: 3px 3px 4px #1ac762;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  text-decoration: none;
  text-align: left;
}
#index-heading2 {
  margin-top: -1%;
  margin-bottom: 0;
  margin-left: 18%;
  text-decoration: none;
  text-align: left;
  -webkit-text-stroke: 3px white;
  color: white;
  text-shadow: 3px 3px 4px #1ac762;
}

.index-background .ff:after{
  content: url(img/alien.png);
  position: absolute;
  transform: scale(0.088) rotate(15deg);
  transition: scale() 0.2s;
  padding: 15px;
  left: 20%;
  top: -2%;
  animation: 3s ease 0.5s infinite wave;
  z-index: 100;
}

.alien-icon {
  transform: rotate(25deg);
  display: inline-block;
  padding: 1%;
  color: purple;
  font: normal normal normal 30px/1 FontAwesome !important;
  &:hover{
    transform: rotate(25deg) scale(1.2);
    //box-shadow: 3px 3px 3px rgba(33,33,33,0.12);
  }
}

@keyframes wave{
  0% { transform: scale(0.088) rotate(15deg); }
  50% { transform: scale(0.088) rotate(30deg); }
  100% { transform: scale(0.088) rotate(15deg); }
}

.index-background .ff:hover:after{
  transform: scale(0.089) rotate(15deg);
  animation: none;
}

@media screen and (min-width: 1101px) {

  #index-heading1 {
    font-size: 8rem; /*8*/
  }
  #index-heading2 {
    font-size: 6rem; /*6*/
  }

}


@media screen and (max-width: 1100px) {
  .by-line {
    font-size: 1.2rem; /*1.5*/
  }

  #index-heading1 {
    font-size: 7.2rem; /*8*/
  }
  #index-heading2 {
    font-size: 5.2rem; /*6*/
  }

  .ff:after{
  left: 16%;
  top: -2%;
  }
}



@media screen and (max-width: 800px) {

  .index-background{
    padding-top: 15%;
  }

  .by-line {
    font-size: 1rem;
  }

  #index-heading1 {
    font-size: 6.2rem;
  }
  #index-heading2 {
    font-size: 4.2rem;
    left: 5%;
  }
  .index-background .ff:after{
    left: 10%;
    top: -20%;
  }

  .index-background h3 span{
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .index-background{
    padding-top: 0;
    overflow-x: scroll;
  }

  .by-line {
    font-size: 1rem;
  }

  #heading1 {
    font-size: 4.8rem;
  }
  #heading2 {
    font-size: 3rem;
    left:1%;
  }

  .index-background .ff:after{
    left: -1%;
    top: -40%;
    }

    .index-background h3 span{
      display: block;
    }
}

@media screen and (max-width: 400px) {

  .index-headings{
    margin-top: -55%;
  }

  #heading1 {
    font-size: 5em;
  }

  #heading2 {
    font-size: 6em;
  }


  .by-line {
    font-size: 1rem; /*1.5*/
  }

    @-moz-keyframes index-headings {
      0% {-moz-transform: translateX(100%);}
      100% {-moz-transform: translateX(-100%);}
    }

    @-webkit-keyframes index-headings {
      0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
    }

    @keyframes index-headings {
      0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }

}
