.single-background{
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
  display: flex;
  text-align: center;
  background-image: url(img/nudejoin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

.summary {
  color: white;
  text-align: justify;
  margin-left:5%;
  margin-right: 5%;
}

.single-heading{
  height: 10%;
  padding: 15% 5% 0 5%;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 4.5px white;
  font-size: 5rem;
  z-index: 2;
  text-align: left;
}

.single-left{
  width:55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 5%;
}

.single-right{
  height: 100vh;
  width:45%;
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.7);
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin: auto;
}

.book-cover{
  width: 50%;
  height: auto;
  display: block;
}

.single-frame {
  padding: 1%;
  border-radius: 3%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2)
  );
}

.book-cover img {
  transform: scale(0.65);
  margin: 0;
}

.book-cover .logo:after {
  position: absolute;
  display: inline-block;
  content: url(svg/amazon.svg);
  width: 10%;
  height: auto;
  padding: 5px;
  bottom: 300px;
  right: 100px;
  z-index: 2;
  border-radius: 5%;
  background: linear-gradient(
    to right,
    rgba(250, 207, 17, 0.5),
    rgba(250, 207, 17, 0.8)
  );
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media only screen and(max-width: 600px){
  .single-background{
    flex-direction: column;
  }

  .single-heading{
    font-size: 2.2em;
    margin: 1%;
  }

  .single-left{
    height:40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 10%;
  }

  .single-right{
    height: fit-content;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 1;
    margin-top: 10%;
    margin: auto;
    margin-bottom: 0;
    padding: 5%;
    overflow: scroll;
  }

  .summary {
    margin-top: 60%;
  }

  .long-summary {
    margin-top: 150%;
  }

  .extra-long-summary {
    margin-top: 250%;
  }

  .book-cover {
    padding-top: 5%;
  }

  .single-heading {
    margin-top: 15%;
  }

  .book-cover .logo:after {
    position: relative;
    display: inline-block;
    content: url(svg/amazon.svg);
    width: 10%;
    height: auto;
    top: -150px;
    right: -35%;
    padding: 5px;
    z-index: 2;
    border-radius: 5%;
  }
}
