.works-background {
  width: 100%;
  height: 100vh;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(img/nudejoin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -30;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}

.works-background .heading{
  width:100%;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 4.5px white;
  z-index: 2;
  text-align: left;
}

.works-column {
  margin: auto;
  width: 100%;
  padding: 3%;
  align-self: center;
}

.works-background .frame {
  box-sizing: border-box;
  padding: 2%;
  border-radius: 3%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2)
  );
}

.logo-wrapper {
  position: relative;
  z-index: 10;
}

.logo:after {
  position: absolute;
  display: inline-block;
  content: url(../css/img/amazon.svg);
  height: auto;
  z-index: 2;
  border-radius: 5%;
  background: linear-gradient(
    to right,
    rgba(250, 207, 17, 0.5),
    rgba(250, 207, 17, 0.8)
  );
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.frame img {
  transform: scale(0.7);
}

@media only screen and (min-width: 1801px) {
  .works-column{
    flex: 1 0 30%;
  }

  .works-background .heading{
    margin: 8% 10% 0 0;
    font-size: 7rem;
  }

  .logo:after {
    width: 22%;
    padding: 2%;
    right: -10%;
    bottom: 150px;
  }
}

@media only screen and (max-width: 1800px) {
  .works-column{
    flex: 1 0 30%;
  }

  .works-background .heading{
    margin: 8% 10% 0 0;
    font-size: 6rem;
  }

  .logo:after {
    width: 20%;
    padding: 2%;
    right: -8%;
    bottom: 150px;
  }
}

@media only screen and (max-width: 1600px) {
  .works-column{
    transform: scale(1.1);
  }

  .works-background .heading{
    margin: 15% 10% 8% 0;
    font-size: 6rem;
  }

  .logo:after {
    width: 20%;
    padding: 2%;
    right: 4%;
    bottom: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .works-background{
    padding: 0 7% 0 7%;
  }
  .works-background .heading{
    margin: 20% 10% 10% 0;
  }

  .works-column {
    flex: 1 0 40%;
  }

  .logo:after {
    width: 17%;
    padding: 2%;
    right: 1%;
    bottom: 100px;
  }
}

@media only screen and (max-width: 750px) {

  .works-background .heading{
    margin: 20% 10% 10% 0;
  }

  .logo:after {
    width: 20%;
    padding: 2%;
    right: 8%;
    bottom: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .works-background .heading{
    margin: 15% 0 15% 0;
    font-size: 5rem;
  }

  .works-column {
    flex: 1 0 60%;
  }

  .logo:after {
    width: 20%;
    padding: 2%;
    right: 5%;
    bottom: 150px;
  }
}

@media only screen and (max-width: 250px) {
  .works-background .heading{
    margin: 20% 0 15% 0;
    font-size: 3.8rem;
  }

  .logo:after {
    width: 17%;
    padding: 2%;
    right: 12%;
    bottom: 100px;
  }
}
