.works-background {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/nudejoin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -30;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.works-background .heading{
  width:100%;
  margin: 10%;
  padding: 5%;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 4.5px white;
  font-size: 5rem;
  z-index: 2;
  text-align: left;
}

.works-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.works-column {
  margin: auto;
  width: 100%;
  padding: 3%;
  align-self: center;
}

.works-background .frame {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 3%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2)
  );
}

.logo-wrapper {
  position: relative;
  z-index: 10;
}

.logo:after {
  position: absolute;
  display: inline-block;
  content: url(../css/svg/amazon.svg);
  width: 15%;
  height: auto;
  padding: 5px;
  bottom: 150px;
  right: 0px;
  z-index: 2;
  border-radius: 5%;
  background: linear-gradient(
    to right,
    rgba(250, 207, 17, 0.5),
    rgba(250, 207, 17, 0.8)
  );
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.zoom:hover {
  transform: scale(0.75);
}

.frame img {
  transform: scale(0.7);
}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 550px) {
  .works-row {
    display: block;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  .works-column {
    margin: 0;
    width: 100%;
    padding: 0px;
    flex: 1 0 40%;
  }
}
